.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #f28ab2;
}

.img-style-1 {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.remBirth{
    width: 40%;
    border: 1px solid #fff;
    display: grid;
    justify-content: center;
    padding-bottom: 10px;
    background-color: #fff;
    margin: 10% auto;
    border-radius: 10px;
} 
.listArticle{
  
    margin: auto;
    padding: auto;
    display: grid;
    justify-items: center;
}
.listArticle h4, .listArticle p{
  margin-bottom: 2px;
  margin-top: 2px;
  padding-left: auto;
  display: flex;
  justify-content: center;
}
button{
  margin-top: 6%;
  padding: 9px 10px;
  margin-bottom: 3%;
  border-radius: 3px;
  border: solid 1px #f28ab2;
  background-color: #f28ab2;
  color: #fff;

}